/** CSS STYLE **/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font: 16px/1.6em 'Open Sans', sans-serif;
  color: var(--dark);
}

.header-section,
.video-section,
.navigation-section,
footer {
  max-width: 1100px;
  text-align: center;
  padding: 100px 0;
  margin: 0 auto;
}

header::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
} 

header {
  background-color: var(--light);
}

.video-container {
  background-color: var(--white);
}

.navigation-container {
  background-color: var(--basic-dark);
}

h1,
h2,
h3 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
  margin: 0 auto;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.header-section {
  position: relative;
  height: 100vh;
  opacity: 0.9;
}

.header-title {
  position: relative;
  margin: 0 auto;
  text-align: left;
  z-index: 200;
}

.header-title-color {
  color: var(--basic);
}

.header-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: 100;
}

.header-columns {
  column-count: 2;
  column-gap: 30px;
  width: 1110px;
  margin-top: 201px;
}

.header-columns p {
  margin-top: 0;
  text-align: left;
}

.avoid {
  break-inside: avoid;
}

.avoid p:last-of-type {
  margin-top: 52px;
}

.button-more {
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic);
}

.video {
  position: relative;
  margin-top: 14px;
  margin-bottom: -200px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}



