:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  --font-neucha: 'Neucha', cursive; 
}

* {
  box-sizing: border-box;
}

body {
  font: normal 16px/1.6em 'Open Sans', sans-serif;
  color: var(--dark);
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: var(--font-neucha);
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

/* ___ШАПКА___ */

.header {
  position: relative;
  background-color: var(--light);
  z-index: 0;
  overflow: hidden;
}

.header::before {
  position: absolute;
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px; 
}

.title-color {
  color: var(--primary);
}

.title {
  position: relative;
  z-index: 1;
}

.flex-column {
  display: flex;
  margin-top: 185px;
}

.column {
  flex: 1 1 50%;
} 

.margin-left {
  margin-left: 30px;
}

.right-left {
  margin-right: 30px;
}

.more {
  margin-top: 24px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 24px;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--white);
}

/* ___ВИДЕО-СЕКЦИЯ___ */

.video-section {
  background-color: var(--white);
  text-align: center;
}

.video-section p {
  margin-top: 30px;
}

.video {
  position: relative;
  margin-top: 14px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-bottom: -210px;
}

/* ___НАВИГАЦИЯ-СЕКЦИЯ___ */

.navigation-section {
  background-color: var(--main-dark);
}

.navigation-flex {
  margin-top: 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-element {
  flex: 1 1 31%;
  margin-bottom: 20px;
  margin-left: 30px;
}

.flex-element:nth-child(3n+1) {
  margin-left: 0;
}

.flex-element:nth-child(n+4) {
  margin-bottom: 0;
}

.navigation-flex h2 {
  font-size: 52px;
  color: var(--white);
}

.navigation-flex ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  display: block;
  text-decoration: none;
  padding: 24px;
  background-color: var(--light);
}

.navigation-card-number {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: var(--font-neucha);
  line-height: 1;
  color: var(--main-dark);
}

.navigation-card-title {
  font-family: var(--font-neucha);
}

.navigation-card-text {
  color: var(--dark);
  margin-top: 16px;
}

/* __СЕКЦИИ___ */

.flex-effect {
  display: flex;
}

.flex-effect-item {
  flex: 1 1 50%;
}

.flex-effect img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  vertical-align: middle;
}

.cognitive-uptitle {
  font-family: var(--font-neucha);
  font-size: 24px;
  margin: 0;
}

.cognitive-description {
  font-family: var(--font-neucha);
  font-size: 34px;
  line-height: 41px;
  margin-top: 30px;
}

.cognitive-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 100px;
  height: 26px;
  padding-left: 10px;
}

.cognitiv-flex-column {
  display: flex;
}

.cognitiv-flex-column p {
  margin: 0;
}

.ikea-effect,
.distortion-of-novelty,
.errors-in-planning {
  background-color: var(--light);
}

.premature-optimization,
.hyperbolic-depreciation {
  background-color: var(--brown);
}

.ikea-effect,
.distortion-of-novelty,
.errors-in-planning,
.premature-optimization,
.hyperbolic-depreciation {
  position: relative;
  z-index: 0;
}

.ikea-effect::before,
.distortion-of-novelty::before,
.errors-in-planning::before,
.premature-optimization::before,
.hyperbolic-depreciation::before {
  position: absolute;
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
} 

.color-translucent-dark {
  color: var(--translucent-dark);
}

.color-translucent-white {
  color: var(--translucent-white);
}

.color-white {
  color: var(--white);
}

.color-brown {
  color: var(--brown);
}

.bg-color-brown {
  background-color: var(--brown);
}

.bg-color-white {
  background-color: var(--white);
}

/* __ФУТЕР__ */

.flex-form {
  display: flex;
  background-color: var(--main-dark);
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
}

.flex-form-item {
  flex: 1 1 50%;
}

.label-email {
  display: block;
  font-size: 18px;
}

.email-flex {
  display: flex;
  margin-top: 9px;
}

.email {
  display: block;
  height: 50px;
  padding: 15px;
  width: 430px;
  border: none;
}

.btn {
  position: relative;
  border: none;
  background-color: var(--primary);
  height: 50px;
  width: 70px;
}

.flex-form-info {
  font-family: var(--font-neucha);
  font-size: 34px;
  line-height: 40.8px;
  padding-top: 55px;
  padding-bottom: 55px;
  margin: 0;
}

.form {
  margin-top: 38px;
}

.btn::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: url(/img/send.svg) center no-repeat;
}

.form p {
  font-size: 12px;
  margin: 0;
}

.form p a {
  color: var(--white);
}

.contacts {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}

.iline-block {
  display: inline-block;
}